.icon {
    width: 1.5rem;
}

/*
    Safari removes focus outline on elements inside overflow:hidden.
    Since the preference submenu is inside a menu with overflow:hidden,
    we need to override that here so that the focus outline is visible.
    The preference submenus include a short list of options,
    so the overflow:hidden is not necessary for them (as opposed to the Language menu)
*/
.preference-submenu {
    overflow: visible;
}

.preference-submenu .menu {
    overflow: visible;
    box-shadow: none;
}

/* Unused? */
.color-mode-label {
    flex: 1;
}

.option {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    width: 100%;
    padding: 0;

    background: transparent;
    border: inherit;
    font: inherit;
    text-align: inherit;
    cursor: pointer;
    color: inherit;
}

.check {
    margin: 0 .25rem 0 0;
    visibility: hidden;
}

[dir="rtl"] .check {
    margin: 0 0 0 .25rem;
}

.selected {
    visibility: visible;
}

.submenu-label {
    flex: 1;
}

.dropdown-label {
    margin: 0 0.5rem 0 0.25rem;
}

[dir="rtl"] .dropdown-label {
    margin: 0 0.25rem 0 0.5rem;
}

.expand-caret {
    transform: rotate(-90deg);
}

[dir="rtl"] .expand-caret {
    transform: rotate(90deg);
}

@media only screen and (max-width: 1024px) {
    .dropdown-label {
        display: none;
    }
}
